* {
    font-family: 'Lato',sans-serif;
}

.bg-primary-color{
    background-color: white;
}

.bg-secondary-color{
    background-color: #bebebe56;
}

.bg-dark-color{
    background-color: #050505;
}

.primary-color {
    color: #050505;
}

.secondary-color{
    color: #444444;
}


/*Navbar */ 

#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover{
    color: #000000;
}

#navbar a.active{
    border-bottom: 1px solid #050505;
}
#navbar a.active:hover{
    color: #7a7a7a;
    border-bottom: 1px solid #050505;
}
.navbar-brand img{
    width: 100px;
}
.navbar-brand span{
    font-size: 1.5em;
    font-weight: 700;
    margin-left: .5em;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item{
    margin: 0 1em;
}

/*sliders*/
#slider {
    width: 100%;
    margin-top: 8.8em;
    margin-bottom: 1em;
    display: flex;
}

#slider .carousel-caption{
    bottom: 3em;
}



#slider .carousel-indicators .active{
    background-color: rgb(0, 0, 0);
}

#slider .carousel-caption h5{
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
}


.btn{
    border-radius: 0px !important;
}

#slider .btn{
    padding: 0.3 0.8em;
    font-size: 1.2em;
    margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i{
    font-size: 3em;
    color: black;
}

@media(min-width:768px){
    .container{
        width: 60%;
    }
    #slider .carousel-caption h5{
        font-size: 5.5em;
        text-shadow: #000 2px 2px;
    }
    #slider .carousel-caption{
        bottom: 5em;
    }
    #slider .btn{
        padding: 0.3 0.8em;
        font-size: 2em;
        margin-top: 1em;
    }


    #slider .carousel-indicators i{
        font-size: 3em;
    }
}
/*cards*/

.pricing-header h1{
    border-bottom: 1px solid black;
}


.pricing-header i{
    font-size: 3em;
}

/*infos*/

#info-container .subtitle{
    border-bottom: 1px solid #7a7a7a;
}

#info-content .title{
    font-family: Arial,sans-serif;
    text-transform: uppercase;
}
#info-content{
    margin-bottom: 2em;
}
.img-fluid{
    border-radius: 10px;
    margin-bottom: 2em;
}

/*infos 2*/ 

#info-container2 {
    margin-bottom: 2em;
    border-bottom: 1px #7a7a7a solid;
}
#info-container2 .subtitle{
    border-bottom: 1px solid #7a7a7a;
}

#info-content2 .title{
    font-family: Arial,sans-serif;
    text-transform: uppercase;
}
#info-content2{
    margin-bottom: 2em;
}

.img-fluid{
    border-radius: 10px;
    margin-bottom: 2em;
    transition: 0.5s;
    
}
.img-fluid:hover{
    transform: scale(1.2);
    border: #000 1px solid;
}

#info-container2{
    margin-bottom: 2em;
    border-bottom: 1px #7a7a7a solid;
}

/*footer*/

#footer-top .navbar-brand{
    font-family: 'Lato',sans-serif;
    padding: 0.6em;
    color: white;
    font-size: 1.5em;
    vertical-align: middle;
}
#footer-top .navbar-brand:hover{
    color: #7a7a7a;
}
#footer-top .navbar-brand img{
    width: 20%;
    filter: invert(1);
}
#social-icons i{
    cursor: pointer;
    font-size: 2em;
    color: white;
    padding-top: 0.6em;
    margin-top: 1.5em;
    padding-right: 2em;
    vertical-align: middle;
}

#social-icons i:hover{
    color: #7a7a7a;
}